nifi_templates/4. Filtering 관련 템플릿/SmartCity_NiFi_Template-11.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>- Value의 Range 조건이 부합하지 않을 경우</description>
    <groupId>42cc3f9d-1dd2-1d69-e404-dc0660f76664</groupId>
    <name>SmartCity_NiFi_Template-11</name>
    <snippet>
        <processGroups>
            <id>e97aa1c1-1d80-3121-0000-000000000000</id>
            <parentGroupId>8dfc8fd3-163b-349f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments>- Value의 Range 조건이 부합하지 않을 경우</comments>
            <contents>
                <connections>
                    <id>0f8d7237-4b13-3ae0-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e97aa1c1-1d80-3121-0000-000000000000</groupId>
                        <id>f903b34a-6937-3960-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name>invalid_location_range</name>
                    <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>e97aa1c1-1d80-3121-0000-000000000000</groupId>
                        <id>7d7755b3-850f-3805-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>587021a8-0066-3b57-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e97aa1c1-1d80-3121-0000-000000000000</groupId>
                        <id>e897f9d5-631d-3597-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>e97aa1c1-1d80-3121-0000-000000000000</groupId>
                        <id>d7ad5bbe-72c6-340b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>64cd5e1f-70ba-3e99-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e97aa1c1-1d80-3121-0000-000000000000</groupId>
                        <id>d7ad5bbe-72c6-340b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e97aa1c1-1d80-3121-0000-000000000000</groupId>
                        <id>1580ca01-aaac-3760-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>749d092b-98f5-32b8-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e97aa1c1-1d80-3121-0000-000000000000</groupId>
                        <id>7d7755b3-850f-3805-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>e97aa1c1-1d80-3121-0000-000000000000</groupId>
                        <id>d7ad5bbe-72c6-340b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7c2f77b9-9359-3630-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e97aa1c1-1d80-3121-0000-000000000000</groupId>
                        <id>94d57055-bd20-305c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>valid_location_range</selectedRelationships>
                    <source>
                        <groupId>e97aa1c1-1d80-3121-0000-000000000000</groupId>
                        <id>7d7755b3-850f-3805-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>f903b34a-6937-3960-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>432.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>invalid_location_range</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                    <validationErrors>'Port 'invalid_location_range'' is invalid because Port has no outgoing connections</validationErrors>
                </outputPorts>
                <processors>
                    <id>1580ca01-aaac-3760-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <position>
                        <x>-696.0</x>
                        <y>192.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>{
    "@context": [
        "http://uri.etsi.org/ngsi-ld/core-context.jsonld",
        "http://cityhub.kr/ngsi-ld/weather.jsonld"
    ],
    "id": "urn:datahub:WeatherForecast:6279",
    "type": "WeatherForecast",
    "createdAt": "2018-11-15T20:10:00",
    "modifiedAt": "2018-11-15T20:10:00",
    "location": {
        "type": "GeoProperty",
        "value": {
            "type": "Point",
            "coordinates": [
                127.1293735,
                37.4114423
            ]
        }
    },
    "address": {
        "type": "Property",
        "value": {
            "addressCountry": "KR",
            "addressRegion": "Gyeonggi-do",
            "addressLocality": "Seongnam-si",
            "streetAddress": "8th Seungin-ro",
            "addressTown": "Yatap-dong"
        }
    },
    "weatherPrediction": {
        "type": "Property",
        "value": [
            {
                "temperature": 10.1,
                "lowestTemperature": -3.0,
                "highestTemperature": 7.0,
                "windSpeed": 0.2,
                "humidity": 68,
                "rainfall": 10,
                "rainfallProbability": 60,
                "rainType": "비",
                "snowfall": 0,
                "predictedAt": "2019-06-08T06:00:00"
            },
            {
                "temperature": 14.1,
                "lowestTemperature": -3.0,
                "highestTemperature": 7.0,
                "windSpeed": 0.3,
                "humidity": 65,
                "rainfall": 20,
                "rainfallProbability": 60,
                "rainType": "비",
                "snowfall": 0,
                "predictedAt": "2019-06-08T09:00:00"
            }
        ],
        "observedAt": "2018-11-15T20:09:55"
    }
}</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>7d7755b3-850f-3805-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <position>
                        <x>240.0</x>
                        <y>192.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>valid_location_range</key>
<value>
    <name>valid_location_range</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>valid_location_range</key>
<value>${latitude:matches('^(\+|-)?(?:90(?:(?:\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,7})?))$'):and(${longitude:matches('^(\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,7})?))$')})}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check Location Range</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>valid_location_range</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>94d57055-bd20-305c-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <position>
                        <x>704.0</x>
                        <y>192.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>d7ad5bbe-72c6-340b-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <position>
                        <x>-248.0</x>
                        <y>192.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>NONE</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>context</key>
<value>
    <name>context</name>
</value>
                            </entry>
                            <entry>
<key>createdAt</key>
<value>
    <name>createdAt</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                            <entry>
<key>latitude</key>
<value>
    <name>latitude</name>
</value>
                            </entry>
                            <entry>
<key>location</key>
<value>
    <name>location</name>
</value>
                            </entry>
                            <entry>
<key>longitude</key>
<value>
    <name>longitude</name>
</value>
                            </entry>
                            <entry>
<key>modifiedAt</key>
<value>
    <name>modifiedAt</name>
</value>
                            </entry>
                            <entry>
<key>type</key>
<value>
    <name>type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>context</key>
<value>$.representation.@context</value>
                            </entry>
                            <entry>
<key>createdAt</key>
<value>$.representation.createdAt</value>
                            </entry>
                            <entry>
<key>id</key>
<value>$.representation.id</value>
                            </entry>
                            <entry>
<key>latitude</key>
<value>$.representation.location.value.coordinates[1]</value>
                            </entry>
                            <entry>
<key>location</key>
<value>$.representation.location</value>
                            </entry>
                            <entry>
<key>longitude</key>
<value>$.representation.location.value.coordinates[0]</value>
                            </entry>
                            <entry>
<key>modifiedAt</key>
<value>$.representation.modifiedAt</value>
                            </entry>
                            <entry>
<key>type</key>
<value>$.representation.type</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Select the specific value</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>e897f9d5-631d-3597-0000-000000000000</id>
                    <parentGroupId>e97aa1c1-1d80-3121-0000-000000000000</parentGroupId>
                    <position>
                        <x>-248.0</x>
                        <y>-16.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
            </contents>
            <name>SmartCity_NiFi_Template-11</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/09/2020 09:27:05 KST</timestamp>
</template>
